<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Please Sign-In To Continue</h2>
        <li>@Html.ActionLink("SignIn", "SignIn", "SignIn")</li>
    </hgroup>
</body>
</html>
